{% extends "bootstrap/base.html" %}

{% block title %}Form Builder{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DataBase</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">DataBase</a></li>
            </ul>

            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">DataBase<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/formbuilder">FormBuilder</a></li>
                  <li><a href="/charts">DashBoard</a></li>
                </ul>
              </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.index', username=current_user.username) }}">Profile</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                    <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                  </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}

<!-- form builder page -->
<div style="margin-top: 20px">

      <div id="formBuilder"></div>

      <div id="footer">


      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/jquery-ui-1.11.1/jquery-ui.min.js"></script>
    <script src="/static/libraries/dust-js/dust-core-0.3.0.min.js"></script>
    <script src="/static/libraries/dust-js/dust-full-0.3.0.min.js"></script>
    <script src="/static/libraries/dust-js/dust-helpers.js"></script>
    <script src="/static/libraries/tabs.jquery.js"></script>
    <script src="/static/formBuilder.jquery.js"></script>


    <script>

      $('#formBuilder').formBuilder({

        load_url: '/static/json/example.json',
        save_url: '{{ url_for("builder.save") }}',
        /*
        onSaveForm: function() {
          // redirect to demo page
          window.location.href = "{{ url_for('builder.render') }}";
        }
        */
      });

    </script>

    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}