{% extends "base.html" %}
{% import "_pagination.html" as pg %}
{% block page_content %}
<header class="panel-heading clearfix">
    {{ current_user.username }}已保存的调查问卷
</header>
<div class="panel-body">
<div class="adv-table">
<div class="space15"></div>
<table class="table table-striped table-hover table-bordered" id="editable-sample">
<thead>
<tr>
    <th>#</th>
    <th>Title</th>
    <th>Description</th>
    <th>Create</th>
    <th>Modify</th>
    <th>Public</th>
    <th>Links</th>
    <th>Edit</th>
</tr>
</thead>
<tbody>
{% set glob = {} %}
{% for item in items %}
  {% if loop.last %}
    {% set _ = glob.update({'length': loop.length}) %}
  {% endif %}
<tr class="">
    <td>{{ loop.index + (page - 1) * per_page }}</td>
    <td >{{ item.get('title') }}</td>
    <td>{{ item.get('description') }}</td>
    <td>{{ item.get('createTime') }}</td>
    <td>{{ item.get('modifyTime') }}</td>
    <td>{{ item.get('public') }}</td>
    {% set hash = item.get('_id') %}
    <td>
      <a href="{{ url_for('survey.survey_user', url_hash=hash, preview=1) }}" title="预览"><span class="fa fa-chain text-primary" aria-hidden="true"></span></a>
      <a href="{{ url_for('survey.survey_user', url_hash=hash, preview=0) }}" title="内部链接"><span class="fa fa-chain text-info" aria-hidden="true"></span></a>
      <a href="{{ url_for('survey.survey_publish', url_hash=hash) }} " title="外部链接"><span class="fa fa-chain text-warning" aria-hidden="true"></span></a>
    </td>
    <td><button class="btn btn-success" data-toggle="modal" data-target="#myModal">edit</button></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="pagination-page-info" style="float:left">
  displaying
  <b>{{ per_page * (page -1) + 1 }} -
    {{ per_page * (page -1) + glob['length'] -1 }}</b>
  querys in total <b>{{ total }}</b>
</div>
<div class="pagination" style="float:right">
  {{ pg.pagination_widget(pagination, 'builder.formlist') }}
</div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                </button>
                 <h4 class="modal-title" id="myModalLabel">调查问卷列表</h4>

            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id='update'>保存</button>
                    <button type="button" class="btn btn-success" id='redesign'>重新设计</button>
                <button type="button" class="btn btn-danger" id="delete">删除</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function(){
$(".btn[data-target='#myModal']").click(function() {
       var columnHeadings = $("thead th").map(function() {
                 return $(this).text().toLowerCase();
              }).get();
       columnHeadings.shift();
       columnHeadings.pop();
       columnHeadings.pop();
       var columnValues = $(this).parent().siblings().map(function() {
                 return $(this).text();
       }).get();
  var modalBody = $('<div id="modalContent"></div>');
  var modalForm = $('<form role="form" name="modalForm" action="{{ url_for('builder.formlist_update') }}" method="post"></form>');
  $.each(columnHeadings, function(i, columnHeader) {
       var formGroup = $('<div class="form-group"></div>');
       formGroup.append('<label for="'+columnHeader+'">'+columnHeader+'</label>');
       formGroup.append('<input class="form-control" name="'+columnHeader+'" id="'+columnHeader+'" value="'+columnValues[i+1]+'" />');
       modalForm.append(formGroup);
  });
  modalBody.append(modalForm);
  $('.modal-body').html(modalBody);
});
$('.modal-footer .btn-primary').click(function() {
   $('form[name="modalForm"]').submit();
});
}
);


var username='{{ current_user.username }}';
// 点击重新设计进行调查问卷的修改
$('#redesign').click(function(){
    var title = $('#modalContent #title').attr('value');
    var new_href = "/form/edit?username=" + username + '&title=' + title;
    window.location.replace(new_href);
});
// 点击删除对应的调查问卷，会先出现一个提示信息
$('#delete').click(function(){
    var title = $('#modalContent #title').attr('value');
    var confirmed = confirm('Are you sure?');

    if (confirmed){
        $.post("{{ url_for('builder.edit') }}", {'username':username, 'title':title}, function(){location.reload();});
    };
});


</script>
{% endblock %}
