{% extends "base.html" %}
{% import "_pagination.html" as pg %}
{% block page_content %}

<div class="col-sm-12">
    <section class="panel">
        <header class="panel-heading">
            <span title="点击编辑过滤条件" class="fa fa-filter"></span>
        </header>
        <div id="filter" class="panel-body" style="display: none;">
          <div class="col-sm-12">

              <form role="form" name="modalForm" action="{{ url_for('database.query') }}" method="post">
                <textarea rows=5 class="form-control" name="sql" id="sql">{% if sql %}{{ sql }}{% else %}请输入过滤条件{% endif %}</textarea>
                <button type="submit" class="btn btn-primary" value="query-test" name='action'>测试</button>
                <button type="submit" class="btn btn-danger" value="query-submit" name='action'>提交</button>
              </form>
          </div>
        </div>
    </section>
</div>



<div class="panel-body">
<div class="adv-table">
<div class="space15"></div>
<table class="table table-striped table-hover table-bordered" id="editable-sample">
<thead>
<tr>
    <th>#</th>
    <th>ID</th>
    <th>Borrower</th>
    <th>Country</th>
    <th>Edit</th>
</tr>
</thead>
<tbody>
{% set glob = {} %}
{% for item in items %}
  {% if loop.last %}
    {% set _ = glob.update({'length': loop.length}) %}
  {% endif %}
<tr class="">
    <td>{{ loop.index + (page - 1) * per_page }}</td>
    <td>{{ item.get('_id') }}
    <td >{{ item.get('borrower') }}</td>
    <td>{{ item.get('countryname') }}</td>
    <td><button class="btn btn-success" data-toggle="modal" data-target="#myModal">Edit</button></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="pagination-page-info" style="float:left">
  displaying
  <b>{{ per_page * (page -1) + 1 }} -
    {{ per_page * (page -1) + glob['length'] -1 }}</b>
  querys in total <b>{{ total }}</b>
</div>
<div class="pagination" style="float:right">
  {{ pg.pagination_widget(pagination, 'database.dblist') }}
</div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                </button>
                 <h4 class="modal-title" id="myModalLabel">数据修改</h4>

            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id='update'>保存</button>
                <button type="button" class="btn btn-danger" id="delete">删除</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function(){
$(".btn[data-target='#myModal']").click(function() {
       var columnHeadings = $("thead th").map(function() {
                 return $(this).text().toLowerCase();
              }).get();
       var columnValues = $(this).parent().siblings().map(function() {
                 return $(this).text();
       }).get();
  var id = columnValues[1];
  var modalBody = $('<div id="modalContent"></div>');
  var modalForm = $('<form role="form" name="modalForm" action="{{ url_for('database.dbupdate') }}" method="post"></form>');
  console.log(id);
  var postData = $.post("{{ url_for('database.api') }}", {'id':id}, function(){}, "json");

  console.log(postData.responseJSON);
  $.each(postData.responseJSON, function(k, v) {
       console.log(k+":"+v);
  });

  var formGroup = $('<div class="form-group"></div>');
  formGroup.append('<label for="ID">ID</label>');
  formGroup.append('<input class="form-control" name="ID" id="ID" value="'+columnValues[1]+'" />');
  modalForm.append(formGroup);
  $.each(postData.responseJSON, function(k, v) {
       console.log(k+":"+v);
       formGroup.append('<label for="'+k+'">'+k+'</label>');
       formGroup.append('<input class="form-control" name="'+v+'" id="'+v+'" value="'+v+'" />');
       modalForm.append(formGroup);
  });
  modalBody.append(modalForm);
  $('.modal-body').html(modalBody);
});
$('.modal-footer .btn-primary').click(function() {
   $('form[name="modalForm"]').submit();
});
});

// 点击删除对应的调查问卷，会先出现一个提示信息
var username='{{ current_user.username }}';
$('#delete').click(function(){
    var id = $('#modalContent #id').attr('value');
    var confirmed = confirm('Are you sure?');

    if (confirmed){
        $.post("{{ url_for('database.dbupdate') }}", {'id':id}, function(){location.reload();});
    };
});

// 对Filter区块点击隐藏和显示功能
$('.fa-filter').click(function(){
  $('#filter').slideToggle("fast");
  console.log('click');
});

</script>
{% endblock %}
